$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* Ws var colors */

$color-fc4:#fc4c2f; //Line in why choose
$color-e41:#e41a0b; //Hover & current item in header menu change by Truong
$color-005: #d52027; //Change by Truong
$color-ff7: #ff7226;
$color-80: #80807e;
$color-333: #333;
$color_black: #000000;
$color_white: #FFFFFF;
$color_red: #FF0000;
$color_lime: #00FF00;
$color_blue: #0000FF;
$color_yellow: #FFFF00;
$color_cyan-aqua: #00FFFF;
$color_magenta-Fuchsia: #FF00FF;
$color_silver: #C0C0C0;
$color_gray: #808080;
$color_maroon: #800000;
$color_olive: #808000;
$color_green: #008000;
$color_purple: #800080;
$color_teal: #008080;
$color_navy: #000080;